<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC6yO7wiNHiHtSsLX4FRH1edI5cJP_IVaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>7650677860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mindcareflutterapp</string>
	<key>PROJECT_ID</key>
	<string>mindcare-7bc26</string>
	<key>STORAGE_BUCKET</key>
	<string>mindcare-7bc26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7650677860:ios:5561550da312228e4ebb71</string>
</dict>
</plist>